@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

.container {
  overflow-x: hidden;
}

ion-icon {
  display: block;
  font-size: 64px;
  margin: 0 auto;
  margin-top: 10vh;
}

.flicker {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
   animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation {
  50% { opacity: 1; }
  53% { opacity: 0; }
  55% { opacity: 1; }
  58% { opacity: 0; }
  60% { opacity: 1; }
}
@-o-keyframes flickerAnimation{
  50% { opacity: 1; }
  53% { opacity: 0; }
  55% { opacity: 1; }
  58% { opacity: 0; }
  60% { opacity: 1; }
}
@-moz-keyframes flickerAnimation{
  50% { opacity: 1; }
  53% { opacity: 0; }
  55% { opacity: 1; }
  58% { opacity: 0; }
  60% { opacity: 1; }
}
@-webkit-keyframes flickerAnimation{
  50% { opacity: 1; }
  53% { opacity: 0; }
  55% { opacity: 1; }
  58% { opacity: 0; }
  60% { opacity: 1; }
}

.wrapper {
  height: 20vh;
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 14ch;
  animation: typing 2s steps(14), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2.5rem;
}

@keyframes typing {
  from {
      width: 0;
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  font-family: 'IBM Plex Mono', monospace;
  justify-content: center;
  overflow: hidden;
}

.tabs__label {
  padding: 8px 16px;
  margin-bottom: 16px;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: 0.9em;
  height: 0;
  opacity: 0;
}

.tabs__radio:checked+.tabs__label {
  font-weight: bolder;
  color: rgb(0, 112, 69);
  border-bottom: 2px solid rgb(0, 112, 69);
  transition: border-bottom 0.3s;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
  display: initial;
  height: 100%;
  opacity: 1;
  transition: opacity 0.7s;
}

a {
  color: rgb(0, 112, 69);
}

a:hover {
  color: rgb(0, 48, 29);
}

.footer {
  display: block;
  border-top: 1px solid rgb(165, 165, 165);
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-weight: lighter;
  font-size: .8rem;
  padding: 16px;
  margin-top: 32px;
}
